  #pxn8_warning { 
     position: absolute; top: 0px; left: 0px;
     background-color: maroon; color: white; 
     padding: 6px; font-family: Arial; 
  }
  #pxn8_canvas {overflow: hidden;}
  #pxn8_timer {
     position: absolute; top: 0px; left: 0px;
     padding: 6px 0px 6px 28px; font-family: Arial; 
     background: white url(/pixenate/images/countdown.gif) 6px 2px no-repeat;
     opacity: 0.7;
     filter: "alpha(opacity: 70)";
  } 
  #toolbar { margin: 4px 0px 4px 0px; 
             padding: 4px; 
             border: 1px solid #cccccc; 
             background-color: #f0f0f0;
  }
  * { font-family: Verdana;}
  button, div { font-size: 11px; }

  button { background: url(gradient-silver.gif);
           border-width: 1px; 
           width: 110px;
           padding: 2px;
           }
  select { border-width: 1px; }
  #information_area {
     background-color:steelblue; 
     color: white;
     padding: 4px;
  }
  #selection_info { padding: 4px; }
  #zoom_info { border-left: 1px solid #dddddd; padding: 4px; }

  #resize_handle { 
    background: url(resize_handle2.gif) top left;
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 99999;
    cursor: move;
    }
  div.panel { background-color: lemonchiffon; padding: 8px; display: none;}
