@import url(pxn8_tooltips.css); /* tooltip elements */
@import url(pxn8_fields.css);   /* tool fields  */
@import url(pxn8_core.css);   /* core PXN8 elements  */


#pxn8_toolbar_table {
}

a.pxn8_toolbar_btn:hover
{
    background: lemonchiffon ;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
	margin: 1px;
}
a.pxn8_toolbar_btn 
{
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    background: #f8f8f8 ;
	 border: 1px solid #cccccc;
	margin: 1px;
}
a.pxn8_toolbar_btndown
{
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background: #f8f8f8 ;
	margin: 1px;

}
a.pxn8_toolbar_option {
	display: block;
	line-height: 18px;
	text-decoration: none;
	width: 100%;
	color: black;
}

a.pxn8_toolbar_option img {
	margin-right: 8px;
}
a.pxn8_toolbar_option:hover {
	color: white;
	background-color: steelblue;
}
#pxn8_toolbar_fix {
   width: 84px;
}

#pxn8_toolbar_crop {
   width: 72px;
}
.pxn8_toolbar_dropdown {
	padding: 4px;
	font-family: Verdana;
	font-size: 11px;
	text-align: left;
   width: 140px;
	position: absolute;
	background-color: #f8f8f8;
	color: black;
	border-right: 1px solid #cccccc;		
	border-bottom: 1px solid #cccccc;		
	border-left: 1px solid #cccccc;		
	z-index: 12000;
}
#pxn8_poweredby {
	margin-left: 8px;
}
